* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
.card {
  background-color: rgb(66, 4, 14);
  border-radius: 10px;
  margin: 20px;
  padding: 50px;
}
