* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

button {
  padding: 10px 40px;
  background-color: antiquewhite;
  color: white;
  font-size: medium;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}