@import "tailwindcss";

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    font-weight: 600;
    font-size: 40px;
    white-space: nowrap;
    text-transform: capitalize;
}