*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}
button {
  margin: 20px;
  padding: 10px 20px;
  background-color: gray;
}

h1 {
  margin: 10px;
  padding: 10px 80px;
  background-color: gainsboro;
  font-size: 100px;
  width: fit-content;
}
