* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'helvatica neue';
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #111;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px;
  background-color: rgb(80, 59, 187);
  font-size: large;
}

.nav div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}